@media only screen and (1099px <= width <= 1225px) {
    .Masonry {
        scale: 0.9 !important
    }
}

@media only screen and (975px <= width <= 1100px) {
    .Masonry {
        scale: 0.8 !important;
    }
}

@media only screen and (901px <= width <= 974px) {
    .Masonry {
        scale: 0.7 !important;
    }
}

@media only screen and (width <= 900px) {
    .Masonry {
        display: none !important;
    }
    .ExperiencesSection {
        top: 100px !important;
    }
}

@media only screen and (width <= 555px) {
    .Header {
        justify-content: center;
        .AirbnbLogo {
            margin-left: 0px !important;
        }
    }
    .OnlineExperiencesCards {
        flex-direction: column;
    }
    .OnlineExperiencesHeading,
    .InteractiveActivitiesSubheading {
        width: 100% !important;
        text-align: center !important;
    }
}